module.exports = {
    discord: {
        webhook: {
            id: '',
            token: ''
        },
        clientToken: ''
    },
    slack: {
        webhook: '',
        signingSecret: '',
        clientToken: '',
        generalId: ''
    }
};